/* 
    Document   : iguana-buttons
    Created on : 08/03/2014, 10:15:15
    Author     : thiago
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.button-pendente{
font:bold 24px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
font-weight: bold;
background:#db1515;
border:0px solid #ffffff;
box-shadow:0px -2px 7px #7a7a7a;
-moz-box-shadow:0px -2px 7px #7a7a7a;
-webkit-box-shadow:0px -2px 7px #7a7a7a;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:130px;
padding:10px 33px;
cursor:pointer;
margin:0 auto;
}
.button-pendente:active{
cursor:pointer;
position:relative;
top:2px;
}

.button-concluido{
font:bold 24px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
font-weight: bold;
background:#008a1e;
border:0px solid #ffffff;
box-shadow:0px -2px 7px #7a7a7a;
-moz-box-shadow:0px -2px 7px #7a7a7a;
-webkit-box-shadow:0px -2px 7px #7a7a7a;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:130px;
padding:10px 25px;
cursor:pointer;
margin:0 auto;
}
.button-concluido:active{
cursor:pointer;
position:relative;
top:2px;
}

.button-executando{
font:bold 24px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
font-weight: bold;
background:#a8a000;
border:0px solid #ffffff;
box-shadow:0px -2px 7px #7a7a7a;
-moz-box-shadow:0px -2px 7px #7a7a7a;
-webkit-box-shadow:0px -2px 7px #7a7a7a;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:130px;
padding:10px 23px;
cursor:pointer;
margin:0 auto;
}
.button-executando:active{
cursor:pointer;
position:relative;
top:2px;
}

.button-analisando{
font:bold 24px Tahoma, Geneva, sans-serif;
font-style:normal;
font-weight: bold;
color:#ffffff;
background:#FFA500;
border:0px solid #ffffff;
box-shadow:0px -2px 7px #7a7a7a;
-moz-box-shadow:0px -2px 7px #7a7a7a;
-webkit-box-shadow:0px -2px 7px #7a7a7a;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:130px;
padding:10px 25px;
cursor:pointer;
margin:0 auto;
}
.button-analisando:active{
cursor:pointer;
position:relative;
top:2px;
}
.button-agendado{
font:bold 24px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
font-weight: bold;
background:#0000FF;
border:0px solid #ffffff;
box-shadow:0px -2px 7px #7a7a7a;
-moz-box-shadow:0px -2px 7px #7a7a7a;
-webkit-box-shadow:0px -2px 7px #7a7a7a;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:130px;
padding:10px 25px;
cursor:pointer;
margin:0 auto;
}
.button-agendado:active{
cursor:pointer;
position:relative;
top:2px;
}

.button-parado{
font:bold 24px Tahoma, Geneva, sans-serif;
font-style:normal;
font-weight: bold;
color:#ffffff;
background:#9d00a8;
border:0px solid #ffffff;
box-shadow:0px -2px 7px #7a7a7a;
-moz-box-shadow:0px -2px 7px #7a7a7a;
-webkit-box-shadow:0px -2px 7px #7a7a7a;
border-radius:5px 5px 5px 5px;
-moz-border-radius:5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
width:130px;
padding:10px 35px;
cursor:pointer;
margin:0 auto;
}
.button-parado:active{
cursor:pointer;
position:relative;
top:2px;
}


