<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="ipePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entities.TbUsuarios</class>
    <class>entities.TbEstatus</class>
    <class>entities.TbGrupos</class>
    <class>entities.TbAtendimentos</class>
    <class>entities.TbEncaminhamentos</class>
    <class>entities.TbBairros</class>
    <class>entities.TbTipologias</class>
    <class>entities.TbSer</class>
    <class>br.gov.ce.fortaleza.sesec.entities.Atendimentos</class>
    <class>br.gov.ce.fortaleza.sesec.entities.Grupos</class>
    <class>br.gov.ce.fortaleza.sesec.entities.Ser</class>
    <class>br.gov.ce.fortaleza.sesec.entities.Tipologias</class>
    <class>br.gov.ce.fortaleza.sesec.entities.Estatus</class>
    <class>br.gov.ce.fortaleza.sesec.entities.Agentes</class>
    <class>br.gov.ce.fortaleza.sesec.entities.Encaminhamentos</class>
    <class>br.gov.ce.fortaleza.sesec.entities.Bairros</class>
    <class>br.gov.ce.fortaleza.sesec.entities.Usuarios</class>
    <class>br.gov.ce.fortaleza.sesec.entities.VwDshbrdIndic</class>
    <class>br.gov.ce.fortaleza.sesec.entities.VwQtdTotalAtdCurrentDate</class>
    <class>br.gov.ce.fortaleza.sesec.entities.VwMaxAtdPorTplgCurrentDate</class>
    <class>br.gov.ce.fortaleza.sesec.entities.VwMaxAtdPorRgnlCurrentDate</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/ipe"/>
      <property name="javax.persistence.jdbc.password" value="1"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="ipe"/>
      <!-- Habilita os logs do EclipseLink -->
      <property name="eclipselink.logging.level.sql" value="FINE"/>
      <property name="eclipselink.logging.parameters" value="true"/>
    </properties>
  </persistence-unit>
</persistence>
